########################### web ###########################
# Logs
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

# Node modules, build artifacts, and environment files
web/node_modules
web/dist
web/dist-ssr
web/*.local
web/*.env
web/stats.html

# Editor directories and files
web/.vscode/*
!web/.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?

# Yarn and PNP
web/*.yarnrc.yml
web/*.hintrc
web/.pnp.*
web/.yarn/*
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/sdks
!web/.yarn/versions
web/.yarn/install-state.gz

########################### app ###########################
# Miscellaneous
app/*.class
app/*.log
app/*.pyc
app/*.swp
app/.DS_Store
app/.atom/
app/.buildlog/
app/.history
app/.svn/
app/migrate_working_dir/

# IntelliJ related
app/*.iml
app/*.ipr
app/*.iws
app/.idea/

# Flutter/Dart/Pub related
app/**/doc/api/
app/**/ios/Flutter/.last_build_id
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.pub-cache/
app/.pub/
app/build/

# Symbolication related
app/app.*.symbols

# Obfuscation related
app/app.*.map.json

# Android Studio build artifacts
app/android/app/debug
app/android/app/profile
app/android/app/release

########################### api ###########################
# Help and build artifacts
api/HELP.md
api/target/
!api/.mvn/wrapper/maven-wrapper.jar
!api/**/src/main/**/target/
!api/**/src/test/**/target/

# STS (Spring Tool Suite) related
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache

# IntelliJ IDEA related
api/.idea
api/*.iws
api/*.iml
api/*.ipr

# NetBeans related
api/nbproject/private/
api/nbbuild/
api/dist/
api/nbdist/
api/.nb-gradle/
api/build/
!api/**/src/main/**/build/
!api/**/src/test/**/build/

### VS Code ###
!**/.vscode/
